dist/
!www/favicon.ico
www/
build/
components.d.ts
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
.env.json
src/.env.json
.env.prod.json
log.txt
*.sublime-project
*.sublime-workspace
*.pem

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
hydrate/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
stencil.local.secure.config.ts
